<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Curso</title>
</head>
<body>

<h1>Registrar Curso</h1>

<form method="POST">

    {% csrf_token %}

    <p>
        Nombre:<br>
        <input type="text" name="nombre" required>
    </p>

    <p>
        Descripción:<br>
        <textarea name="descripcion"></textarea>
    </p>

    <p>
        Duración en horas:<br>
        <input type="number" name="duracion" min="1" required>
    </p>

    <p>
        Precio:<br>
        <input type="number"
               name="precio"
               min="0"
               step="0.01"
               required>
    </p>

    <button type="submit">
        Guardar curso
    </button>

</form>

<p>
    <a href="/cursos/">Cancelar</a>
</p>

</body>
</html>